templates/traer_emails.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "997ec97d-af32-4b4c-9b67-ffdcba339423",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        304,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9827375e-9818-4318-b0e3-341d7353c729",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "111cba93-9b6a-4b87-8569-001122a9e80f",
              "name": "labels[2]",
              "value": "={{ $json.labels[2] }}",
              "type": "object"
            },
            {
              "id": "483ef420-fffc-4292-b3fa-f3c58aa06756",
              "name": "labels",
              "value": "={{ $json.labels }}",
              "type": "array"
            },
            {
              "id": "a20521f3-f24d-47ae-98e5-ebe58ec6d730",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        48
      ],
      "id": "a664dc2b-bb22-4eda-a9ab-b3af3a97233b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "includeSpamTrash": false,
          "q": "jetsmart ",
          "readStatus": "both"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        48
      ],
      "id": "2e47ade0-8f24-40cb-97cc-a1b3f8cee8ad",
      "name": "Get many messages",
      "webhookId": "280f7704-1839-4f46-83aa-6d5ee1e17dce",
      "credentials": {
        "gmailOAuth2": {
          "id": "9ZwZGnm0gxdfTxhY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "=Este email es spam? Justificá {{ $json.Subject }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        976,
        48
      ],
      "id": "5b40f760-1adf-4f4d-b292-a7abba75f932",
      "name": "Es spam?",
      "credentials": {
        "openAiApi": {
          "id": "bsFuN0nNQD2lsNHt",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Es spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5461bb4428d70e8fc07a4789dd20e8bd69a1c4a84a3b36bbc17004203a03b1e0"
  }
}