templates/traer_emails.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "40283b38-be5d-487c-99d8-4f21d8fb685a",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        976,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9827375e-9818-4318-b0e3-341d7353c729",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "111cba93-9b6a-4b87-8569-001122a9e80f",
              "name": "labels[2]",
              "value": "={{ $json.labels[2] }}",
              "type": "object"
            },
            {
              "id": "483ef420-fffc-4292-b3fa-f3c58aa06756",
              "name": "labels",
              "value": "={{ $json.labels }}",
              "type": "array"
            },
            {
              "id": "a20521f3-f24d-47ae-98e5-ebe58ec6d730",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        192
      ],
      "id": "04d208a3-a678-49f5-8c48-6eb53372df32",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "includeSpamTrash": false,
          "q": "jetsmart ",
          "readStatus": "both"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        192
      ],
      "id": "05be6d48-8097-4ae2-9d3d-9e365f7fb3b8",
      "name": "Get many messages",
      "webhookId": "280f7704-1839-4f46-83aa-6d5ee1e17dce",
      "credentials": {
        "gmailOAuth2": {
          "id": "8pfM8006xbY6DG4A",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c295224bcb48d242741e4e893513c8bf2f2c983c00db0a6f77e2490ec0ee92ce"
  }
}