templates/traer_emails.json
{
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.headers }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1712,
        480
      ],
      "id": "94b20263-7b98-4c6a-8705-d980518bdb79",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        480
      ],
      "id": "a7f40df4-b0be-44b9-b8b3-f5552faab062",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "12rDXQThEZ0CfPln",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "includeSpamTrash": true,
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1264,
        256
      ],
      "id": "05be6d48-8097-4ae2-9d3d-9e365f7fb3b8",
      "name": "Get many messages",
      "webhookId": "280f7704-1839-4f46-83aa-6d5ee1e17dce",
      "credentials": {
        "gmailOAuth2": {
          "id": "8pfM8006xbY6DG4A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1568,
        224
      ],
      "id": "d454841f-490a-4415-84b3-b1a6c3101c22",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "40283b38-be5d-487c-99d8-4f21d8fb685a",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        976,
        208
      ]
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c295224bcb48d242741e4e893513c8bf2f2c983c00db0a6f77e2490ec0ee92ce"
  }
}